.parent{
    border: 3px;
    height: 1000px;
    width:600px;
    position: relative;
    background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);
    justify-content: center;
    display: flex;
}

.child{
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 15%;
    width:60%;
    position: absolute;
    text-align: center;
    border-color: green;
}


.child1{
    top: 10%;
    right: 10%;    
}
.child2{
    bottom:60%;
    left: 0;   
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 40px;
    width:590px;
    position: absolute;
    text-align:start;
    border-color: green;    
}

.child3{
    top: 300px;
    left: 0;   
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 40px;
    width:590px;
    position: absolute;
    text-align:start    ;
    border-color: green;    
}

.child4{
    top: 450px;
    left: 0;   
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 40px;
    width:130px;
    position: absolute;
    text-align:start    ;
    border-color: green;    
}
.child5{
    top:450px;
    left: 23%;   
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 40px;
    width:80px;
    position: absolute;
    text-align:start    ;
    border-color: green;    
}
.child6{
    top:450px;
    left: 38%;   
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 40px;
    width:140px;
    position: absolute;
    text-align:start;
    border-color: green;    
}
.child7{
    top: 450px;
    left: 63%;   
    border: 3px solid; 
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
    height: 40px;
    width:200px;
    position: absolute;
    text-align:start    ;
    border-color: green;    
}

